.diaryList__wrap {
	width: 100%;
	// min-height: calc(100vh - 80px);
	padding: 80px 0 0;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px 2%;
	.diaryItemLink {
		text-decoration: none;
	}
}
