.footer__wrap {
	width: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	background: #0e3e86;
	text-align: center;
	p {
		padding: 10px 0;
		font-size: 16px;
		color: #fff;
	}
	ul {
		li {
			list-style: none;
			display: inline-block;
			padding: 20px;
			.footerLink {
				font-size: 17px;
				color: #fff;
			}
		}
	}
}
