.header__wrap {
	width: 100%;
	height: 80px;
	padding: 0 80px;
	// background-color: #f2ded8;
	background-color: #88e0cc;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
