.registUserForm__wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		// border: 1px solid red;
		div {
			width: 100%;
			display: flex;
			align-items: center;
			// border: 1px solid blue;
			margin: 20px 0 0;
			label {
				width: 180px;
				font-size: 14px;
				text-align: center;
			}
			input {
				border: none;
				outline: none;
				width: 100%;
				padding: 0.5rem 1rem;
				border-bottom: 1px solid #fff;
				box-sizing: border-box;

				&:focus {
					&::placeholder {
						opacity: 0;
					}
				}
			}
		}
	}
	button {
		border: none;
		outline: none;
		background: #999;
		color: #fff;
		margin: 40px 0 30px 0;
		padding: 0.5rem 1rem;
		cursor: pointer;
		&:hover {
			background: #555;
			transition: background 0.3s ease-in;
		}
	}
}
