.RegistForm__wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	// border: 1px solid red;
	form {
		// border: 1px solid red;
		margin: 0 0 30px 0;

		ul {
			padding: 0 50px 30px 50px;
			li {
				margin: 0 auto;
				width: 480px;
				list-style: none;
				padding: 10px 50px;
				display: flex;
				align-items: center;
				// border: 1px solid blue;
				img {
					width: 36px;
					height: 36px;
					// border: 1px solid red;
				}
				.input__box {
					// border: 1px solid red;
					padding: 0 0 0 30px;
					flex: 1;
					label {
						display: block;
						width: auto;
						font-size: 17px;
						margin: 0 0 10px 0;
					}
					.group__set {
						display: flex;
						justify-content: space-between;
						input {
							&:nth-child(2) {
								margin: 0 10px;
							}
						}
						button {
							font-size: 16px;
							padding: 5px 25px;
							border-radius: 8px;
						}
					}
					input {
						display: block;
						width: 100%;
						border: 1px solid #ddd;
						outline: none;
						border-radius: 8px;
						font-size: 16px;
						padding: 10px 20px;
						box-sizing: border-box;
						&::placeholder {
							color: #ccc;
						}
					}
					.plantKind__box {
						display: flex;
						align-items: center;
						position: relative;
						.plantKind__input {
							width: 100%;
						}
						.plantSearch__btn {
							position: absolute;
							right: 15px;
							top: 50%;
							transform: translateY(-50%);
							font-size: 22px;
							cursor: pointer;
							background-color: #fff;
						}
					}
					.addPhoto__btn-box {
						width: 100px;
						height: 100px;
						text-align: center;
						line-height: 100px;
						font-size: 22px;
						background: #eee;
						&:hover {
							background: #bfbfbf;
							transition: background 0.3s ease-in;
							.addPhoto__btn {
								fill: #fff;
							}
						}
					}
				}
			}
		}
	}
	button {
		border: none;
		background: none;
		outline: none;
		font-size: 17px;
		padding: 10px 20px;
		background: #eee;
		border-radius: 8px;
		&:hover {
			background: #92d050;
			transition: background 0.3s ease-in;
			color: #fff;
		}
	}
}
