.searchWindow__wrap {
	// width: 500px;
	min-width: 280px;
	width: 30%;
	height: 50px;
	border: 1px solid #ddd;
	border-radius: 8px;
	display: flex;
	align-items: center;
	input {
		border: none;
		outline: none;
		background: none;
		font-size: 17px;
		padding: 0 20px;
		flex: 1;
	}
	.searchWindow-icon {
		width: 30px;
		height: 30px;
		padding: 0 20px 0 0;
		fill: #808080;
		// color: #555;
		cursor: pointer;
	}
}
