// font
@import 'font';

// components
@import 'pageTitle';
@import 'searchWindow';

// header
@import 'logo';
@import 'loginState';
@import 'logoutState';

@import 'userState';

// login
@import 'loginForm';

// main
@import 'loginMain';
@import 'logoutMain';
@import 'navMenu';

// plant
@import 'plantItem';
@import 'registForm';

// plantDiary
@import 'diaryList';
@import 'diaryItem';
@import 'diaryEmpty';

// registUser
@import 'registUserForm';

// pages
@import 'footer';
@import 'header';
@import 'login';
@import 'main';
@import 'plantList';
@import 'registPlant';
@import 'registUser';
@import 'copyrightInfo';
@import 'plantDiaryList';

* {
	color: #404040;
	font-family: 'Happiness-Sans-Regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'yg-jalnan';
	color: #1b53a6;
}
