@import 'login';
@import 'loginForm';
@import 'header';
@import 'logo';
@import 'userState';
@import 'loginState';
@import 'logoutState';
@import 'navMenu';
@import 'registUser';
@import 'registUserForm';
@import 'registPlant';
@import 'registForm';
@import 'main';
@import 'loginMain';
@import 'logoutMain';
@import 'footer';

* {
	color: #404040;
	font-family: 'Happiness-Sans-Regular';
}

@font-face {
	font-family: 'Happiness-Sans-Title';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Happiness-Sans-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'EF_hyunygothic';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_hyunygothic.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GangwonEduPowerExtraBoldA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OKDDUNG';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'EF_MACHO';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_MACHO.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'yg-jalnan';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'yg-jalnan';
}
