// components
@import 'pageTitle';
@import 'searchWindow';
@import 'navMenu';

// header
@import 'loginState';
@import 'logoutState';

@import 'userState';

// login
@import 'loginForm';

// main
@import 'loginMain';
@import 'logoutMain';

// mypage
@import 'myPageForm';
@import 'passwordCheck';

// plant
@import 'plantItem';
@import 'plantDiaryItem';

// plantDiary
@import 'diaryList';
@import 'diaryItem';
@import 'diaryEmpty';
@import 'diaryRegistForm';

// pages
@import 'footer';
@import 'header';
@import 'login';
@import 'main';
@import 'plantList';
@import 'registPlantDiary';
@import 'plantRegist';
@import 'memberRegist';
@import 'copyrightInfo';
@import 'plantDiaryList';
@import 'myPlant';
@import 'plantView';
@import 'myPage';
@import 'myPageUpdate';

* {
	color: #595959;
	font-family: 'Happiness-Sans-Regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'yg-jalnan';
	color: #1b53a6;
}
